

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>Haseeb Chaudhary creative developer</title>
        <!-- Google result description-->
        <meta name="description" content="I build Web Applications, creatively">

        <!-- og Is Open Graph tagging used by Facebook and Twitter has a siilar one.-->
        <meta property="og:title" content="Adventure Pak - Tours in Northern Pakistan">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Adventure Pak enables people to book tours and travel experiences to the Northern areas of Pakistan. We connect Pakistan's landscape and vibrant culture with the rest of the world.">
        <meta property="og:site_name" content="Adventure Pak"/>

<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    </head>
  <body>
    <div class="card-centre_white">
      
      <div class="text-greeting">
      <p>Hola</p>
      </div>
      <div class="text-value">
        <p>We design and develop web and mobile applications that are beautifully responsive. in-addition, we provide SEO capability and expert cyber security services.</p>
      </div>
      <div class="text-greeting2">
      <p>Have a look at <a href="#" class="text-landing-link">what we do</a>, our past <a href="#" class="text-landing-link">success stories</a> and feel free to <a href="#" class="text-landing-link">get intouch</a>.</p>
      </div>

    </div>
    
    
    
      <!-- Google result text
        <div class="centerimage"><%= render  "shared/banner-image" %>
        </div>
      -->
      
    </div>


<%= render 'shared/contact_section.html.erb' %>


  </body>
</html>
