

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>ElBornLab</title>
        <!-- Google result description-->
        <meta name="description" content="I build Web Applications, creatively">

        <!-- og Is Open Graph tagging used by Facebook and Twitter has a siilar one.-->
        <meta property="og:title" content="Adventure Pak - Tours in Northern Pakistan">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Adventure Pak enables people to book tours and travel experiences to the Northern areas of Pakistan. We connect Pakistan's landscape and vibrant culture with the rest of the world.">
        <meta property="og:site_name" content="Adventure Pak"/>

<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    </head>
  <body>
<div>


    <div class="card-centre_white">
      
      <div class="text-greeting">
      <p>Portfolio</p>
      </div>
      <div class="text-value">
        <p>Our work</p>
      </div>
      <div class="text-ourwork">
      <p>We bring together our application development and deep tech skills with a thorough understanding of our clients’ business needs to deliver projects with results and value.</p>
      </div>

    </div>
<!-- Examples of our work section --> 

<div class="container-black_special">



    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card card-responsive_grid">
            <img src="ing_logo.jpg"  class="card-img-top" alt="...">
            <p class="text-sector">Finance</p>
            <p class="bottomleft">ING Bank Europe</p>

            </div>
        </div>
        <div class="col">
            <div class="card card-responsive_grid">
            <img src="ikea_pic2.jpg" class="card-img-top" alt="...">
            <p class="text-sector">Furniture</p>
            <p class="bottomleft">Ikea Sweden</p>   
            </div>
        </div>
    </div>  
    <div class="row row-cols-1 row-cols-md-2 g-4">  
        <div class="col">
            <div class="card card-responsive_grid">
            <img src="skinkel.jpg"  class="card-img-top" alt="...">
            <p class="text-sector_black">Wellness</p>
            <p class="bottomleft_black">Skinkel.es</p>

            </div>
        </div>
        <div class="col">
            <div class="card card-responsive_grid">
            <img src="montse.jpg" class="card-img-top" alt="...">
            <p class="text-sector">Health</p>
            <p class="bottomleft">Montse Timoneda</p>   
            </div>
        </div>
        <div class="col">
            <div class="card card-responsive_grid">
            <img src="eatamina.jpg" class="card-img-top" alt="...">
            <p class="text-sector">Nutrition</p>
            <p class="bottomleft">eatamina</p>   
            </div>
        </div>
        <div class="col">
            <div class="card card-responsive_grid">
            <img src="nomura2b.jpg" class="card-img-top" alt="...">
            <p class="text-sector_black">Finance</p>
            <p class="bottomleft_black">Nomura</p>   
            </div>
        </div>
    </div>
    <!-- From kit lewagon https://uikit.lewagon.com/documentation#card_category-->






</div>


  <%= render 'shared/contact_section.html.erb' %>


  </body>
</html>
