

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>Haseeb Chaudhary creative developer</title>
        <!-- Google result description-->
        <meta name="description" content="I build Web Applications, creatively">

        <!-- og Is Open Graph tagging used by Facebook and Twitter has a siilar one.-->
        <meta property="og:title" content="Adventure Pak - Tours in Northern Pakistan">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Adventure Pak enables people to book tours and travel experiences to the Northern areas of Pakistan. We connect Pakistan's landscape and vibrant culture with the rest of the world.">
        <meta property="og:site_name" content="Adventure Pak"/>

<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    </head>
  <body>
<div>


    <div class="card-centre_white">
      
      <div class="text-greeting">
      <p>What we can do</p>
      </div>
      <div class="text-value">
        <p>Services</p>
      </div>
      <div class="text-ourwork">
      <p>From our core expertise in web and mobile application devlopment, cybersecurity and online brand development, we have the skills and partner networks to help you obtain your business goals.</p>
      </div>
</div>
    <div class="row">
        <div class="col-6">
            <div class="card">
            <img src="airbnb.jpg" class="" alt="...">
            </div>
        </div>
        <div class="col-6">
        <p>
        Cool stuff that we do
        </p>
        </div>
    </div>




    </div>
<!-- Examples of our work section --> 




</div>


  </body>
</html>
