

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ME88LD4GDV"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-ME88LD4GDV');
        </script>
        <!-- Google result text-->
    <title>El Born Lab - Digital Services We Provide</title>
    <!-- Google result description-->
    <meta name="description" content="Web and mobile application devlopment, cybersecurity and online brand development.">

<!--  Essential META Tags -->
    <meta property="og:title" content="El Born Lab">
    <meta property="og:description" content="We build digital products for brands and startups. Our core services include Web and mobile application development, cybersecurity and online brand development.">
    <meta property="og:image" content="https://elbornlab.com/products.jpg">
    <meta property="og:url" content="https://elbornlab.com/services">
    <meta name="twitter:card" content="summary_large_image">
    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="El Born Lab - Services">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    </head>
  <body>
    <div class="card-centre_white">
      <div class="text-greeting">
      <p>What we can do</p>
      </div>
      <div class="text-value">
        <p>Services</p>
      </div>
      <div class="text-ourwork">
      <p>From our core expertise in web and mobile application devlopment, cybersecurity and online brand development, we have the skills and partner networks to help you obtain your business goals.</p>
      </div>
    </div>
    
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col-6">
                <div class="card card-responsive_grid">
                <img src="appdev2.jpg"  class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-6">
                <div class="card card-responsive_grid">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, quos quia doloribus temporibus numquam dolorem delectus inventore ab sapiente tenetur earum debitis suscipit illo distinctio, vel ipsa, ex minus explicabo!
                </p>
                </div>
            </div>
        </div>  
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col-6">
                <div class="card card-responsive_grid">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nulla quidem eius rem, quis harum architecto veniam suscipit dicta ea, reprehenderit itaque iste necessitatibus quas natus magnam modi, voluptatem voluptates.
                </p>
                </div>
            </div>
            <div class="col-6">
                <div class="card card-responsive_grid">
                <img src="appdesign.jpg"  class="card-img-top" alt="...">
                </div>
            </div>
        </div> 
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>       
    </div>

<%= render 'shared/contact_section.html.erb' %>
  </body>
</html>
